<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{180,185},{177,180}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,118},{177,180}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
            <key>frame_1_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{359,218},{211,130}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,160},{211,130}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
            <key>frame_2_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{182,367},{177,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,157},{177,158}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
            <key>frame_3_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{177,200}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,150},{177,200}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
            <key>frame_4_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{177,216}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,140},{177,216}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
            <key>frame_5_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{215,130}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,138},{215,130}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
            <key>frame_6_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{179,136}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,153},{179,136}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
            <key>frame_7_delay-0.2s.gif</key>
            <dict>
                <key>frame</key>
                <string>{{180,1},{177,182}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,111},{177,182}}</string>
                <key>sourceSize</key>
                <string>{601,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueBird_sheet.png</string>
            <key>size</key>
            <string>{490,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8821d38da2bd6ff18ed1c9e56de6b1c1:8b234752d826536eee206cb50b2559f3:9cb085f10a0baa37a61a82786440c0ff$</string>
            <key>textureFileName</key>
            <string>blueBird_sheet.png</string>
        </dict>
    </dict>
</plist>
