<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wave_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,70},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,70},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,140},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
            <key>wave_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,140},{408,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,70}}</string>
                <key>sourceSize</key>
                <string>{408,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>waves.png</string>
            <key>size</key>
            <string>{1224,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:066a75e30378b70d8fd834c3f4d3a136:a5a248daba837934c8b9f601fbf42a8d:084cd3161963bc878ba09ac0f04e5ec7$</string>
            <key>textureFileName</key>
            <string>waves.png</string>
        </dict>
    </dict>
</plist>
