<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,0},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m4.png</string>
            <key>size</key>
            <string>{270,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0bf37876453ddae6a6a6589e61f09f:6d273d6d1770e16bde98d3a09ce3bffe:f9d326478fca1acb1c1e8f4a7e60682c$</string>
            <key>textureFileName</key>
            <string>m4.png</string>
        </dict>
    </dict>
</plist>
