<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1.png</string>
            <key>size</key>
            <string>{234,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db39710a324dbcc24edb27eb13dba2be:94b49df85920e3c236e7b90c8516ea62:4e86b569201c2f18aa986be5d044f5fb$</string>
            <key>textureFileName</key>
            <string>p1.png</string>
        </dict>
    </dict>
</plist>
