<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,0},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m1.png</string>
            <key>size</key>
            <string>{270,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95eef0c774696bbe41aa650477942b4:cedb7f83074b44ee267b416be31cdd78:f96da96e658f7503a16299aad3a221c4$</string>
            <key>textureFileName</key>
            <string>m1.png</string>
        </dict>
    </dict>
</plist>
