<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p4.png</string>
            <key>size</key>
            <string>{234,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4fbac9c38a411ce44911952565714f7:eecea387b1cfc394d9bb90d5793a2c6d:e2b1df52399be4119035779f4849da6c$</string>
            <key>textureFileName</key>
            <string>p4.png</string>
        </dict>
    </dict>
</plist>
